<a href="https://colab.research.google.com/github/KimJunGu9/1.python/blob/main/10_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 딕셔너리(Dictionary)**

* 대응관계를 나타내는 자료형으로 key와 value라는 것을 한 쌍으로 갖는 형태
* 하나의 딕셔너리의 키값은 중복될 수 없음
* 하나의 딕셔너리의 값은 중복될 수 있음

### **1-1. 딕셔너리 만들기**

In [ ]:

dic1 = {}
print(dic1)

dic2 = {'no' : 1, 'userid' : 'apple', 'name' : '김사과', 'hp' : '010-1111-1111'}
print(dic2)

{}
{'no': 1, 'userid': 'apple', 'name': '김사과', 'hp': '010-1111-1111'}

### **1-2. 키로 값 찾기**

In [ ]:

dic2 = {'no' : 1, 'userid' : 'apple', 'name' : '김사과', 'hp' : '010-1111-1111'}
print(dic2['no'])
print(dic2['userid'])
print(dic2['name'])
print(dic2['hp'])

1
apple
김사과
010-1111-1111

### **1-3. 데이터 추가 및 삭제**

In [ ]:

dic3 = {1:'apple'}
print(dic3)

dic3[100] = 'orange'
print(dic3)

dic3[50] = 'banana'
print(dic3)

dic3[1] = 'melon'  # 키는 중복될 수 없으므로 값이 변경 됨
print(dic3)

del dic3[50]
print(dic3)

{1: 'apple'}
{1: 'apple', 100: 'orange'}
{1: 'apple', 100: 'orange', 50: 'banana'}
{1: 'melon', 100: 'orange', 50: 'banana'}
{1: 'melon', 100: 'orange'}

### **1-4. 딕셔너리 함수**

In [ ]:

dic2 = {'no' : 1, 'userid' : 'apple', 'name' : '김사과', 'hp' : '010-1111-1111'}
print()

# keys() : key 리스트를 반환
print(dic2.keys())
print()

# values() : value 리스트를 반환
print(dic2.values())
print()

# items() : key와 value를 한 쌍으로 묶는 튜플을 리턴
print(dic2.items())
print()

# get() : key를 이용해서 value를 반환
print(dic2.get('name'))
print(dic2.get('hp'))
print(dic2['name']) # 리스트에서 인덱싱하는 방법으로도 할 수 있다.
print(dic2.get('age')) # 없는 것을 찾으면 None 으로 나온다.
print(dic2.get('age', '알수없음')) # 없는것을 찾으면 None대신 '알수없음'으로 나오게 만들 수 있다.
print()

# in : key가 딕셔너리 안에 있는 지 확인
print('name' in dic2) # True
print('age' in dic2) #False

dict_keys(['no', 'userid', 'name', 'hp'])

dict_values([1, 'apple', '김사과', '010-1111-1111'])

dict_items([('no', 1), ('userid', 'apple'), ('name', '김사과'), ('hp', '010-1111-1111')])

김사과
010-1111-1111
김사과
None
알수없음

True
False

### **1-5. 딕셔너리와 for**

In [ ]:

dic2 = {'no' : 1, 'userid' : 'apple', 'name' : '김사과', 'hp' : '010-1111-1111'}

for i in dic2:
  print(i, end=' ')

print()

for i in dic2.keys():
  print(i, end=' ')

print()

for i in dic2.values():
  print(i, end=' ')

print()

for i in dic2:
  print(dic2[i], end=' ')

print()

for i in dic2.keys():
  print(dic2.get(i),end=' ')

no userid name hp
no userid name hp
1 apple 김사과 010-1111-1111
1 apple 김사과 010-1111-1111
1 apple 김사과 010-1111-1111

### **문제.**
아래와 같은 딕셔너리 자료에서 주민등록번호를 추출하여 성별을 알아내는 프로그램을 작성해보자.  
(단, ssn의 7번째 자리의 성별은 1,3은 '남자' 2, 4는 '여자'라고 한다)

> user = {"name":"김사과", "hp":"010-1111-1111", "ssn":"0010114068518"}

In [ ]:

user = {'name' : '김사과', 'hp' : '010-1111-1111', 'ssn' : '0010114068518'}

print(user['ssn'])

ssn = 0

if ssn[7] == '1' or ssn[7] == '3':
  print('남자')
else :
  print('여자')

0010114068518

TypeError: ignored

In [ ]:
user = {'name' : '김사과', 'hp' : '010-1111-1111', 'ssn' : '0010114068518'}

for i in user.keys():
  if i == 'ssn':
    ssn = user.get(i) # '0010114068518'
    if ssn[6] == '1' or ssn[6]  == '3':
      print('남자')
    elif ssn[6] == '2' or ssn[6] == '4':
      print('여자')

여자