<a href="https://colab.research.google.com/github/KimJunGu9/1.python/blob/main/18_%EC%98%88%EC%99%B8%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 예외처리**

* 오류가 발생되었을 때 별도의 처리를 하거나 무시하고 프로그램을 실행하는 것
* 오류가 발생될 것으로 예상되는 문장을 try 블록에 코딩하고 try 블록에 코딩된 내용을 실행하다가 오류가 발생하면 더이상 try 블록의 내용을 실행하지 않고, 해당 오류의 except 블록에 코딩된 내용을 실행
* 파이썬은 발생할 수 있는 모든 문제를 예외 클래스로 만들어 놓음
* 모든 예외 클래스는 BaseException 클래스의 자식 클래스이며 BaseException 클래스의 자식 클래스 중 Exception 클래스는 모든 예외 클래스의 부모클래스

```
try:
  오류가 발생될 것으로 예상되는 문장
  ...
  ...
  except 오류클래스명1:
    해당 오류가 발생하면 실행할 문장
    ...
  except 오류클래스명2:
    해당 오류가 발생하면 실행할 문장
    ...
  else:
    오류가 없을 경우 실행할 문장
    ...
  finally:
    오류 발생 여부와 관계없이 무조건 실행할 문장
    ...
```

In [ ]:
try:
  print(10/2)
  print(5/0)
  print(4/2)
except:
  print('오류가 발생했습니다.')
print('정상종료')

5.0
오류가 발생했습니다.
정상종료

In [ ]:
print(5/0)

ZeroDivisionError: ignored

In [ ]:
try:
  print(10/2)
  print(5/0)
  print(4/2)
except ZeroDivisionError:
  print('0으로 나눌 수 없습니다.')
print('정상종료')

5.0
0으로 나눌 수 없습니다.
정상종료

In [ ]:
data = [10,20,30]
print(data[3])

IndexError: ignored

In [ ]:
data = [10,20,30]
try:
  print(data[2])
  print(data[3])
  print(data[0])
except ZeroDivisionError:
  print('0으로 나눌 수 없습니다.')
except IndexError:
  print('인덱스 지정이 올바르지 않습니다.')
print('정상종료')

30
인덱스 지정이 올바르지 않습니다.
정상종료

In [ ]:
data = [10,20,30]
str = '오늘은 파이썬 예외 처리 시간'
try:
  # print(4/0)
  # print(data[3])
  print('%d' % str)
except ZeroDivisionError:
  print('0으로 나눌 수 없습니다')
except IndexError:
  print('인덱스 지정이 올바르지 않습니다.')
except TypeError:
  print('데이터 타입이 올바르지 않습니다.')
except:
  print('일반적인 오류')
finally:
  print('오류에 관계없이 무조건 실행되는 문장')
print('정상종료')

데이터 타입이 올바르지 않습니다.
오류에 관계없이 무조건 실행되는 문장
정상종료

In [ ]:
data = ['11','1','111','50','1234']
data.sort()
print(data)
data.sort(reverse=True)
print(data)

['1', '11', '111', '1234', '50']
['50', '1234', '111', '11', '1']

In [ ]:
data = [11,1,111,50,1234]
data.sort()
print(data)
data.sort(reverse=True)
print(data)

[1, 11, 50, 111, 1234]
[1234, 111, 50, 11, 1]

In [ ]:
data = ['11',1,'111',50,'1234']
data.sort()
print(data)
data.sort(reverse=True)
print(data)

TypeError: ignored

In [ ]:
# 숫자와 문자를 섞어 입력하면 숫자  + 문자 형식의 오름차순으로 정렬하여 출력하는 프로그램을 작성
# 정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : abc
# 정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : 123
# 정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : 1
# 정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : bbb
# 정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : 999
# [1, 123, 'abc', 'bbb]

number = []
char = []

while True:
  var = input('정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : ')
  if var =='999':
    break
  try:
    number.append(int(var))
  except:
    char.append(var)

number.sort()
char.sort()
print(number + char1b99)

정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : abc
정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : 23
정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : 1
정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : bb
정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : 9
정렬할 데이터르 입력하세요(999가 입력되면 정렬을 시작합니다.) : 999
[1, 9, 23, 'abc', 'bb']