<a href="https://colab.research.google.com/github/KimJunGu9/python/blob/main/2.%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. print 함수**

* 매개변수로 지정된 데이터를 출력하고 줄을 바꿈

In [ ]:
print('안녕하세요. 파이썬!')
print('안녕하세요. 여러분!')
print(10)

안녕하세요. 파이썬!
안녕하세요. 여러분!
10

In [ ]:
'''
여기는 여러줄을 주석으로 처리합니다.
따라서 프로그램에 영향을 주지 않습니다.
'''
print('Python') # 문자 출력은 따옴표를 사용('' 또는 "")

Python

In [ ]:
print('Hello', 'Python')
print('Hello', 'Python', 'Hi', 'Python')
print('Hello', end='') # end : 출력 후 어떻게 처리할지 여부에 대한 옵션
print('Python')
print('Hello', end=' ')
print('Python')
print('Hello', end=',')
print('Python')

Hello Python
Hello Python Hi Python
HelloPython
Hello Python
Hello,Python

In [ ]:
print(10 + 5) # 덧셈
print(10 - 5) # 뺄셈
print('10 + 5') # 문자
print('10') # 문자
# print('10' + 5) # TypeError: can only concatenate str (not "int") to str

15
5
10 + 5
10

# **2. 출력 서식 지정하기**

1. %d(정수), %f(실수), %s(문자열)를 사용하여 출력 서식을 지정
2. 서식을 제외한 문자는 입력한 그대로 출력
3. 서식을 지정해 출력할 데이터가 2개 이상일 경우 ()로 데이터를 묶어야 함

In [ ]:
print('%d' %100)
print('%d' %100.12)

print('%f' %100.12)

print('%s' %'python')
print('%s' %100)

print('%d + %d = %d' %(5,3,5+3))

100
100
100.120000
python
100
5 + 3 = 8

In [ ]:
print('%5d' %100)
print('%5d' %10000)

print('%05d' %100)

  100
10000
00100

In [ ]:
print('%6.2f' %123.45) # 6 : 6z칸 , 2 : 소숫점 2자리까지
print('%6.2f' %123.4567)  # 반올림
print('%6.2f' %123.4)   # 남은 자리는 0으로 채움

123.45
123.46
123.40

In [ ]:
print('%5s' %'abc')

  abc

In [ ]:
# 5 / 3 = ?

print('%d / %d = %d' %(5, 3, 5/3))  # 결과를 %d로 출력하면 정수로 출력
print('%d / %d = %f' %(5, 3, 5/3))  # 결과를 %f로 출력하면 정수로 출력

5 / 3 = 1
5 / 3 = 1.666667

# **3. format 함수와 출력 인덱스 사용**

In [ ]:
# 인덱스 : 0부터 순서대로 진행되는 정수

print('{0} {1}'. format('김사과', '반하나'))
print('{1} {0}'. format('김사과', '반하나'))

김사과 반하나
반하나 김사과

In [ ]:
print('{0:3s}님은 {1:03d}살입니다.' .format('김사과',20))
print('{0}님의 키는 {1:6.2f}cm입니다.' .format('류정원', 182.5))

김사과님은 020살입니다.
류정원님의 키는 182.50cm입니다.