<a href="https://colab.research.google.com/github/KimJunGu9/1.python/blob/main/7_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 튜플(Tuple)**

* 리스트와 비슷하지만 리스트는 []로 자료를 감싸고, 튜플은 ()로 감쌈
* 수정, 삭제가 불가능

In [ ]:

tu1 = ()
print(tu1)

# tu1[0] = 10   #TypeError: 'tuple' object does not support item assignment

tu2 = (1)
print(tu2)

tu3 = 1,2,3
print(tu3)

tu4 = ('apple','banana',('❤️','😍'))
print(tu4)

()
1
(1, 2, 3)
('apple', 'banana', ('❤️', '😍'))

In [ ]:
print(type(tu4))

<class 'tuple'>

# **2. 튜플의 수정 및 삭제**

In [ ]:

tu5 = (1,2,'apple','banana')
print(tu5)

# tu5[3] ='orange' # TypeError: 'tuple' object does not support item assignment

# del tu5[3] # TypeError: 'tuple' object doesn't support item deletion


tu5 = 10
print(tu5)

(1, 2, 'apple', 'banana')
10

# **3. 튜플의 인덱싱과 슬라이싱 연산**

In [ ]:

tu7 = (1,2,'apple','banana')

# 인덱싱
print(tu7[0])
print(tu7[-1])

# 슬라이싱
print(tu7[1:])
print(tu7[1:3])

# 덧셈(연결)
tu8 = (30,40)
print(tu7 + tu8)

# 곱셈(반복)
print(tu8 * 3)

# 요소의 개수
print(len(tu8))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(30, 40, 30, 40, 30, 40)
2