<a href="https://colab.research.google.com/github/KimJunGu9/1.python/blob/main/7_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. íŠœí”Œ(Tuple)**

* ë¦¬ìŠ¤íŠ¸ì™€ ë¹„ìŠ·í•˜ì§€ë§Œ ë¦¬ìŠ¤íŠ¸ëŠ” []ë¡œ ìë£Œë¥¼ ê°ì‹¸ê³ , íŠœí”Œì€ ()ë¡œ ê°ìŒˆ
* ìˆ˜ì •, ì‚­ì œê°€ ë¶ˆê°€ëŠ¥

In [ ]:

tu1 = ()
print(tu1)

# tu1[0] = 10   #TypeError: 'tuple' object does not support item assignment

tu2 = (1)
print(tu2)

tu3 = 1,2,3
print(tu3)

tu4 = ('apple','banana',('â¤ï¸','ğŸ˜'))
print(tu4)

()
1
(1, 2, 3)
('apple', 'banana', ('â¤ï¸', 'ğŸ˜'))

In [ ]:
print(type(tu4))

<class 'tuple'>

# **2. íŠœí”Œì˜ ìˆ˜ì • ë° ì‚­ì œ**

In [ ]:

tu5 = (1,2,'apple','banana')
print(tu5)

# tu5[3] ='orange' # TypeError: 'tuple' object does not support item assignment

# del tu5[3] # TypeError: 'tuple' object doesn't support item deletion


tu5 = 10
print(tu5)

(1, 2, 'apple', 'banana')
10

# **3. íŠœí”Œì˜ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹± ì—°ì‚°**

In [ ]:

tu7 = (1,2,'apple','banana')

# ì¸ë±ì‹±
print(tu7[0])
print(tu7[-1])

# ìŠ¬ë¼ì´ì‹±
print(tu7[1:])
print(tu7[1:3])

# ë§ì…ˆ(ì—°ê²°)
tu8 = (30,40)
print(tu7 + tu8)

# ê³±ì…ˆ(ë°˜ë³µ)
print(tu8 * 3)

# ìš”ì†Œì˜ ê°œìˆ˜
print(len(tu8))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(30, 40, 30, 40, 30, 40)
2